<ion-header>

  <ion-navbar color="verde">
    <ion-title>Funcionalidades</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="fondo"  padding>

  <ion-list>

    <ion-item>
      <h3>Luz interior</h3>
      <button ion-button block color="verde" icon-end (click)="sendWord('a')" >
        Encender
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-button block color="danger" icon-end (click)="sendWord('b')" >
        Apagar 
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>
  
    <ion-item> 
      <h3>Luz exterior</h3>
      <button ion-button block color="verde" icon-end (click)="sendWord('c')" >
        Encender 
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-button block color="danger" icon-end (click)="sendWord('d')" >
        Apagar 
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>
  
    <ion-item> 
      <h3>Ventana</h3>
      <button ion-button block color="verde" icon-end (click)="sendWord('g')" >
        Abrir 
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-button block color="danger" icon-end (click)="sendWord('h')" >
        Cerrar 
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>
  
    <ion-item>
      <h3>Ventilador</h3>
      <button ion-button block color="verde" icon-end (click)="sendWord('k')" >
        Encender 
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-button block color="danger" icon-end (click)="sendWord('l')" >
        Apagar
        <ion-icon name="remove-circle"></ion-icon> 
      </button>
    </ion-item>
  
    <ion-item>
      <h3>Motobomba</h3>
      <button ion-button block color="verde" icon-end (click)="sendWord('m')" >
        Encender 
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-button block color="danger" icon-end (click)="sendWord('n')" >
        Apagar 
      </button>
    </ion-item>

    <ion-item>
      <h3>Configuraciones</h3>
      <button ion-button block color="verde" (click)="getInfo()" >
        Optener informacion
      </button>
    
      <button ion-button block color="verde" (click)="sendWord('j')" >
        Audio
      </button>
    
      <button ion-button block color="verde" (click)="sendWord('e')" >
        Mostrar temperatura humedad
      </button>
    
      <button ion-button block color="verde" (click)="sendWord('f')" >
        Guardar datos
      </button>
    </ion-item>

  </ion-list>
    
</ion-content>