<ion-header>

  <ion-navbar color="verde">
    <ion-title>Luz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Ajuste de intencidad luminica
    </ion-list-header>
    <ion-badge color="dark"  item-end> {{ brightness }} </ion-badge>
    <ion-item>
      <ion-range color="dark" [(ngModel)]="brightness">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  
</ion-content>

