<ion-header>
  <ion-navbar color="verde">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servicios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item, item.component)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
    </button>
  </ion-list>
  
</ion-content>
