<ion-header>

  <ion-navbar color="verde">
    <ion-title>Configuracion Bluetooth</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list padding>
    <button ion-button block item-end icon-end color="secondary" (click)="startScanning()">      
      Escanear
      <ion-icon name="sync" item-right></ion-icon>
    </button>
    <ion-list-header>
      Dispositivos emparejados
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      <span (click)="selectDevice(device.address)">
          {{device.name}}
      </span>
      
    </ion-item>
    <button ion-button block item-end icon-end color="danger" (click)="disconnect()">
      Desconectar
      <ion-icon name="close" item-right></ion-icon>
    </button>
    <ion-list-header>
      Dispositivos disponibles
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
      <button ion-button clear item-end (click)="selectDevice(device.address)">
        <ion-icon name="bluetooth"></ion-icon>
      </button>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>

</ion-content>